.w-10 {
  width: 10% !important;
}
.w-15 {
  width: 15% !important;
}
.w-20 {
  width: 20% !important;
}
.w-25 {
  width: 25% !important;
}
.w-30 {
  width: 30% !important;
}
.w-70 {
  width: 70% !important;
}
.w-75 {
  width: 75% !important;
}
.w-80 {
  width: 80% !important;
}
.w-85 {
  width: 85% !important;
}
.w-90 {
  width: 90% !important;
}
.profile-picture {
  border-radius: 50%;
}
.text-justify {
  font-size: 18px;
  line-height: 2;
}
p {
  font-family: Roboto;
}
.text-primary {
  font-family: Roboto Slab;
}
.text-light-2 {
  font-family: Roboto Slab;
  color: #8080809c;
}
.bibtexentry {
  text-align: justify !important;
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}
.skill-circle {
  font-size: 22px;
}
