---
layout: default
---

<article>
  {% comment %}
  <header>
    <h1>{{ page.title | escape }}</h1>
  </header>
  {% endcomment %}

  <section>
    <div class="alert alert-danger">TEST 2 PAGE</div>

    <div class="d-flex flex-row">
      <div class="alert alert-success w-25">
        <img src="../assets/imgs/profile.png" ></img>
      </div>
      <div class="alert alert-danger w-75">
        <h2>Gustavo Lima</h2>
        <h5>PhD in Applied Physics</h5>
        <h6>Cambridge, United Kingdom gustavo.alvares.lima@gmail.com</h6>
      </div>
    </div>

    <div class="d-flex flex-row">
      <div class="alert alert-success w-75"></div>
      <div class="alert alert-danger w-25"></div>
    </div>

    {% comment %} {{ content }} {% endcomment %}
  </section>
</article>
